<footer class="footer">
    <div class="container">
        <p>Adres: Katowicka 99 , Opole</p>
        <p>Telefon: +48 123 456 789</p>
        <p>Portale społecznościowe:
            <a href="https://facebook.com" class="social-link">Facebook</a> |
            <a href="https://instagram.com" class="social-link">Instagram</a>
        </p>
    </div>
</footer>
