<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="logo">
            <img src="/img/Group 1opdetailing.svg" alt="Logo" class="logo-img">
        </a>
        <ul class="nav-list">
            <li><a href="/">Strona główna</a></li>
            <li><a href="/prices">Cennik</a></li>
            <li><a href="/reservations">Rezerwacja Terminu</a></li>
            <% if (user) { %>
                <li><a href="/dashboard"><%= user.email %></a></li>
            <% } else { %>
                <li><a href="/login">Zaloguj się</a></li>
            <% } %>
        </ul>
    </div>
</nav>
